


<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% load bootstrap3 %}
 <p><a href="{% url 'logout' %}">logout</a></p>

<h1>{{ restaurant.id }}</h1>








{% else %}
  <H6><p>HOME</p></H6>
  <p>You are not logged in</p>
  <p>This is before-Base.html</p>
  <button type="submit"><a href="{% url 'login' %}">Login</a></button>
  <button type="submit"><a href="{% url 'signup' %}">Signup</a></button>
  <!-- <button type="submit"><a href="{% url 'signup' %}"Sign up</button> -->
{% endif %}
{% endblock %}





