<!-- templates/home.html -->

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>

  <a href="{% url 'input_cuisine' 'nearby'%}">nearby recommendation</a>
  </br></br>
  <a href="{% url 'input_cuisine' 'rating'%}">rating based recommendation</a>
  </br></br>
  <a href="{% url 'input_cuisine' 'price'%}">price based recommendation</a>
  </br></br>
  <a href="{% url 'input_cuisine' 'personalized'%}">user personalized recommendation</a>
  </br></br>
  <a href="{% url 'timing_list' %}">time based recommendation</a>










{% else %}
  <H6><p>HOME</p></H6>
  <p>You are not logged in</p>
  <p>This is before-Base.html</p>
  <button type="submit"><a href="{% url 'login' %}">Login</a></button>
  <button type="submit"><a href="{% url 'signup' %}">Signup</a></button>
  <!-- <button type="submit"><a href="{% url 'signup' %}"Sign up</button> -->
{% endif %}
{% endblock %}